
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheets">
<section class="grid h-screen w-full grid-cols-1  bg-slate-200 md:grid-cols-1 bg-gradient-to-r from-zinc-900 to-gray-900">
  
  <div class="flex flex-col justify-between bg-car bg-no-repeat bg-fixed bg-cover bg-right md:bg-center ">
        <div class="mt-44 py-4 text-center text-6xl font-bold text-black">
        <span class="font-extralight">Welcome</span><br />
        <span class="font-extralight">to</span><br />
        <span class=" font-anybody">Insider Insight</span>
        </div>
  </div>
</section>

<section class=" w-5/6 m-auto mt-28 grid grid-col-1 gap-x-3 gap-y-10 md:grid-cols-2 max-w-6xl items-center">
  <div class="py-3 px-2">
   <h1 class="text-5xl mb-8">New interior</h1>
   <p1 class="text-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in turpis at libero euismod luctus vel sit amet lorem.<br/>  Maecenas lorem metus, semper in lobortis imperdiet, pulvinar sed felis. Maecenas aliquam velit in ligula tincidunt imperdiet. Integer interdum enim ut placerat dignissim. Maecenas turpis orci, facilisis vitae ligula non, luctus convallis risus. </p1>
  </div>
    <div class="py-3 px-2">
    <img src="https://blenderartists.org/uploads/default/optimized/4X/3/5/4/3541170449c49b84c8b43487662e086f9b9f8fa0_2_690x286.png">
  </div>
</section>

<section class="w-full bg-lights md:py-52 py-28 md:bg-cover md:bg-center bg-contain my-20 border bg-fixed bg-no-repeat "></section>

<section class=" w-5/6 m-auto mt-10 grid grid-col-1 gap-x-3 gap-y-10 md:grid-cols-2 max-w-6xl items-center mb-20  ">
  
    <div class="py-3 px-2">
    <img src="https://cdna.artstation.com/p/assets/images/images/027/420/102/large/juan-pablo-fuentes-ruiz-highresscreenshot00014.jpg?1591484528">
  </div>

  <div class="py-3 px-2 ">
   <h1 class="text-5xl mb-8">New interior</h1>
   <p1 class="text-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in turpis at libero euismod luctus vel sit amet lorem.<br/>  Maecenas lorem metus, semper in lobortis imperdiet, pulvinar sed felis. Maecenas aliquam velit in ligula tincidunt imperdiet. Integer interdum enim ut placerat dignissim. Maecenas turpis orci, facilisis vitae ligula non, luctus convallis risus. </p1>
  </div>
</section>


<section class="w-full bg-lights md:py-52 py-28 md:bg-cover md:bg-center bg-contain my-20 border bg-fixed bg-no-repeat"></section>


<section class="w-5/6 m-auto mt-10 grid grid-cols-1 gap-x-3 gap-y-10 md:grid-cols-2 max-w-6xl items-center mb-20">
  <div class="py-3 px-2">
    <h1 class="text-5xl mb-8">Interested?</h1>
    <p class="text-md">Sign up today</p>
  </div>

</section>


